# ==========================================
# Python Cache Files
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
env/
.venv/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Data (IMPORTANT - Prevent dataset upload)
# ==========================================
data/raw/*
data/processed/*
data/interim/*

# Keep folder structure only
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep

# Ignore CSV files anywhere 
*.csv

# ==========================================
# Models
# ==========================================
models/*
!models/.gitkeep
notebooks/models/*

# ==========================================
# Logs & Reports
# ==========================================
*.log
reports/results.txt
reports/figures/*
!reports/figures/
!reports/figures/.gitkeep

# ==========================================
# IDE / Editor
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db